{% extends 'layouts/base.html' %}
{% block content %}
{% include 'layouts/header.html' %}
{% include 'layouts/news_feed.html' %}
{% include 'layouts/news_info.html' %}
{% include 'layouts/breadcrumb.html' %}

<!-- 404 Error Page Area  -->
<section class="bg-primary pt-100 pb-100">
    <div class="container">
        <div class="text-center">
            <img src="img/404.png" alt="404" class="img-fluid m-auto">
            <h2 class="title-regular-light size-c60 mb-60">Ooops... Error 404</h2>
            <a href="index-2.html" class="btn-gtf-ltl-64">Go To Home Page</a>
        </div>
    </div>
</section>

{% include 'layouts/footer.html' %}
{% include 'layouts/off-modal.html' %}

{% endblock content %}